.app{
 width: 100vw;
 display: flex;
 justify-content: space-between;
}
.sidebar{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 15vw;
  padding: 10px;
}
.map{
width: 80vw;
}

@media only screen and (max-width: 940px) {
  .app {
    flex-direction: column;
  }
  .map{
    width: 100vw;
    }
    .sidebar{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100vw;
    }
}