.app{
  width: 95vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.previewBox{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 200px;
  margin-right: 100px;
}